<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CrossFit 1 Rep Max Tracker</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Auth0 Lock script -->
    <script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        .form-control {
            margin-bottom: 10px;
        }
        
        .btn-danger {
            margin-top: 8px;
        }
    </style>



</head>

<body id="events">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand"><i class="glyphicon glyphicon-screenshot"></i>  CrossFit 1 Rep Max Tracker</a>
            <button type="button" class="btn btn-default navbar-btn pull-right" @click="login()" v-show="!authenticated" v-cloak>Login</button>
            <button type="button" class="btn btn-primary navbar-btn pull-left" @click="listView" v-show="authenticated" v-cloak>Change View</button>
            <!--<button type="button" class="btn btn-primary navbar-btn pull-left" @click="refreshEvents" v-show="authenticated" v-cloak>Refresh</button>-->
            <button type="button" class="btn btn-default navbar-btn pull-right" @click="logout()" v-show="authenticated" v-cloak>Logout</button>

        </div>
    </nav>

    <div class="container" id="events" v-show="authenticated" v-cloak>
        <div class="page-header">
            <h1>CrossFit 1RM Tracker </h1>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Enter your 1 Rep Max</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="col-sm-3">
                            <input class="form-control" placeholder="Movement" v-model="event.movement">
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" placeholder="Weight" v-model="event.weight">
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" v-model="event.measurement">
                              <option value="kg">kg</option>
                              <option value="cm">cm</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" placeholder="Date" v-model="event.date">
                        </div>
                        <div class="col-sm-1"><button class="btn btn-primary" v-on:click="addEvent">Add</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" v-show="!list" v-for="event in events | orderBy 'date' -1 ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 for="checkbox" v-if="event !== editingEvent" class="text-center" class="text-center">
                        </i>{{ event.movement }}</h4>
                    <input class="form-control" type="text" v-if="event === editingEvent" v-auto-focus class="text-input" @keyup.enter="endEditing(event)" v-model="event.movement">
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h2 for="checkbox" v-if="event !== editingEvent" class="text-center" v-if="event.weight">{{ event.weight }} {{ event.measurement }}</h2>
                    </div>
                    <input class="form-control" type="text" v-if="event === editingEvent" v-auto-focus class="text-input" @keyup.enter="endEditing(event)" v-model="event.weight">
                    <div class="col-sm-12">
                        <h5 class="text-center" for="checkbox" v-if="event !== editingEvent"><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date | moment }}</h5>
                    </div>
                    <input for="checkbox" v-if="event == editingEvent" type="date" class="form-control" placeholder="Date" v-model="event.date">
                </div>
                <div class="panel-footer">
                    <div class="text-left">
                        <i class="glyphicon glyphicon-pencil" v-if="event !== editingEvent" v-on:click="editEvent(event)"></i>
                        <i class="glyphicon glyphicon-ok" v-if="event == editingEvent" v-on:click="endEditing(event)"></i>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-xs btn-warning" v-on:click="deleteEvent(event.id)">Remove</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-hover" v-show="list">
                <thead>
                    <tr class="">
                        <td class="strong">Movement</td>
                        <td class="strong">Weight</td>
                        <td class="strong">Date</td>
                        <td class="strong">Modify</td>
                        <td class="strong">%</td>
                        <td class="strong">Remove</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="event in events | orderBy 'date' -1">
                        <td class="col-sm-4" v-if="event !== editingEvent">{{ event.movement }}</td>
                        <td class="col-sm-4" v-if="event === editingEvent"><input class="form-control" type="text" v-auto-focus class="text-input" @keyup.enter="endEditing(event)" v-model="event.movement"></td>
                        <td class="col-sm-2" v-if="event !== editingEvent">{{ event.weight }} {{ event.measurement }}</td>
                        <td class="col-sm-2" v-if="event == editingEvent"><input class="form-control" type="text" v-auto-focus class="text-input" @keyup.enter="endEditing(event)" v-model="event.weight"></td>
                        <td class="col-sm-3" v-if="event !== editingEvent"><i class="glyphicon glyphicon-calendar" v-if="event.date"></i> {{ event.date | moment }}</td>
                        <td class="col-sm-3" v-if="event == editingEvent"><input class="form-control" type="text" v-auto-focus class="text-input" @keyup.enter="endEditing(event)" v-model="event.date"></td>
                        <td class="col-sm-1" v-if="event !== editingEvent"><i class="glyphicon glyphicon-pencil" v-on:click="editEvent(event)"></i></td>
                        <td class="col-sm-1" v-if="event == editingEvent"><i class="glyphicon glyphicon-ok" v-on:click="endEditing(event)"></i></td>
                        <td class="col-sm-1">
                            <!--<button class="btn btn-xs btn-success" v-on:click="selectEvent(event.weight)">%</button>-->
                            <button type="button" v-on:click="selectEvent(event.weight)" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">%</button>
                        </td>
                        <td class="col-sm-2">
                            <button class="btn btn-xs btn-warning" v-on:click="deleteEvent(event.id)">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Small modal -->
        <!--<button type="button" v-on:click="selectEvent(event.weight)" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">%</button>-->


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">1 Rep Max Percentages</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" v-show="list">
                            <thead>
                                <tr class="">
                                    <td class="strong">% of 1 RM</td>
                                    <td class="strong">Scaled Weight</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-sm-5">90%</td>
                                    <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.9 | rounding 0 }}</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-5">80%</td>
                                    <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.8 | rounding 0 }}</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-5">70%</td>
                                    <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.7 | rounding 0 }}</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-5">60%</td>
                                    <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.6 | rounding 0 }}</td>
                                </tr>
                                <tr>
                                    <td class="col-sm-5">50%</td>
                                    <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.5 | rounding 0 }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-sm-3">
            <table class="table table-hover" v-show="list">
                <thead>
                    <tr class="">
                        <td class="strong">% of 1 RM</td>
                        <td class="strong">Weight</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-5">90%</td>
                        <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.9 | rounding 0 }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-5">80%</td>
                        <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.8 | rounding 0 }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-5">70%</td>
                        <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.7 | rounding 0 }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-5">60%</td>
                        <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.6 | rounding 0 }}</td>
                    </tr>
                    <tr>
                        <td class="col-sm-5">50%</td>
                        <td class="col-sm-5" v-if="selectedEvent > 0">{{ selectedEvent * 0.5 | rounding 0 }}</td>
                    </tr>
                </tbody>
            </table>
        
         </div>-->
    </div>
</body>
<script src="node_modules/vue/dist/vue.min.js "></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="backend/vue-router.js "></script>
<script src="app.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js "></script>

</html>